<div class="row">
  <div class="col-md-12 header">
     <button class="btn btn-danger pull-right signin" (click)="showcomp()" >Sign In</button>
    <button class="glyphicon glyphicon-align-left btn btn-primary btnn" (click)="toggleSidebar()"></button>
        <div><h1>Bappa</h1></div>
     
  </div>
  
</div>
<div id="sidebar">
    <ul style="color:orange">
         {{User}}
        <li><span class="glyphicon glyphicon-search"></span> &nbsp; Search</li>
        <li>  <span class="glyphicon glyphicon-home"> </span>&nbsp;My Bappa</li>
        <li> <span class="glyphicon glyphicon-apple"></span> &nbsp; Food</li>
    </ul>
    <ul style="color:orange">
Emergency
<li><span class="glyphicon glyphicon-plus-sign"></span> &nbsp;Hospital</li>
<li> <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;Police Station</li>
<li><span class="glyphicon glyphicon-map-marker"></span> &nbsp;About</li>
    </ul>
</div>
